.area,.time{
    margin-bottom: 20px;
}
.area_head{
    padding: 10px 15px;
    border-radius: 4px 4px 0px 0px;
    border-top: 2px solid #2a8ba7;
    border-bottom: 1px solid #eff2f7;
    background: #fff;
    display: flex;
    justify-content: space-between;
}
.area_title{
    display: inline-block;
    background: #59ace2;
    padding: 0.5em 0.8em;
    border-radius: .25em;
    color: #fff;
    font-weight: 700;
}
.area_icon span{
    cursor: pointer;
    margin-left: 10px;
    color: #a7a7a7;
    font-size: 12px;
    background-color: #d5d5d5;
    padding: 7px;
    border-radius: 5px;
}
.area_body,.bar_body{
    padding: 15px;
    background: #fff;
    border-radius: 0px 0px 4px 4px;
}
.area_pic,.time_pic,.team_pic{
    height: 300px;
    width: 100%;
}
.pie_form{
    display: flex;
    margin: 0px -15px;
}
.pie1,.pie2{
    width: 50%;
    padding: 0px 15px;
    margin-bottom: 20px;
}
.pie_pic1,.pie_pic2{
    height: 400px;
    width: 100%;
}
.hide{
    overflow: hidden;
    transition: .3s;
}