.rows{
    margin-left: -15px;
    margin-right: -15px;
}
.hover,.striped,.label,.next_page,.round_box,
.chat_btn,.gritter,.tab_body,.al_body,.progress_body{
    padding: 15px;
    background: #fff;
    border-radius: 0px 0px 4px 4px;
}
.striped_box,.round_box,.tab1_box{
    margin-bottom: 20px;
}
.hide{
    max-height: 448px;
    /* overflow: hidden; */
    transition: all .2s;
}

.home_top{
    padding: 0px 15px;
    width: 100%;
}
.home_nav{
    padding: 8px 15px;
    margin-bottom: 20px;
    background-color: #c9cccf;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
}
.home_nav p{
    color: #586573;
}
.p1{
    padding-left: 10px;
}
.p_text{
    cursor: pointer;
}
/* 警告 */
.warn{
    padding: 0px 15px;
    margin-bottom: 20px;
}
.warn_head{
    padding: 10px 15px;
    display: flex;
    background: #fff;
    justify-content: space-between; 
    border-top: 2px solid #2a8ba7;
    border-bottom: 1px solid #eff2f7;
    border-radius: 3px 3px 0px 0px;
}
.warn_title{
    display: inline-block;
    background: #59ace2;
    padding: 0.5em 0.8em;
    border-radius: .25em;
    color: #fff;
    font-weight: 700;
}

.al_head_left{
    background: #59ace2;
    padding: 0.5em 0.8em;
    color: #fff;
    font-weight: 700;
    border-radius: .25em;
}
.al_icon span{
    cursor: pointer;
    margin-left: 10px;
    color: #a7a7a7;
    font-size: 12px;
    background-color: #d5d5d5;
    padding: 7px;
    border-radius: 5px;
}
.al_body li{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.al_body li span{
    display: inline-block;
}
.al_body li i{
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    opacity: .5;
}
.al_body li i:hover{
    opacity: 1;
}
.al_li1{
    background-color: #dff0d8;  
}
.al_li2{
    background-color: #d9edf7;
}
.al_li3{
    background-color: #fcf8e3;  
}
.al_li4{
    background-color: #f2dede;
}
.font1,.font1 strong{
    color: #3c763d;   
}
.font2,.font2 strong{
    color: #31708f;
}
.font3,.font3 strong{
    color: #8a6d3b;
}
.font4,.font4 strong{
    color: #a94442;
}

.progress_body li{
    background: #f0f2f7;
    margin-bottom: 20px;
    height: 19px;
    border-radius: 4px;
}
.progress_body li span{
    display: inline-block;
    height: 19px;
    border-radius: 4px 0px 0px 4px;
}
.progress1{
    width: 60%;
    background-color: #bad7df;
}
.progress2{
    width: 40%;
    background-color: #e7c5ca;
}
.progress3{
    width: 55%;
    background-color: #ede17a;
}
.progress4{
    width: 60%;
    background-color: #edbe7a;
}
.progress5{
    width: 35%;
    background-color: #b2ee7a;
}
.progress6{
    width: 70%;
    background-color: #f17872;
}
.progress7{
    width: 75%;
    background-color: #de73f0;
}


.hover_box1{
    margin-bottom: 20px;
}
.hover span{
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.hover_top{
    background-color: #58c9f3;
    border-color: #58c9f3;
    color: #FFFFFF;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
}
.hover_top:hover{
    background: #5bc0de;
}
.hover_bottom{
    background-color: #FFF;
    padding: 6px;
    border-radius: 9px;
    color: #1b809d;
    border: 1px solid #CECECE;
}
.hover_bottom:hover{
    color: #aca9a9;
    background: #ECECEC;
}
.hover_box{
    position: relative;
    /* border: 1px solid red; */
}


.tips{
    position: absolute;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border: 1px solid #a7a7a7;
    max-width: 276px;
    z-index: 200;
}
.right{
    top: -32px;
    left: 178px;
    display: none;
}
.bottom{
    display: none;
    top: 48px;
    left: -50px;
}
.top{
    display: none;
    top: -108px;
    left: -27px;
}
.left{
    display: none;
    top: -30px;
    left: -120px;
}

.tips_p{
    padding: 5px;
    background: #000;
    border-radius: 5px;
    width: 100px;
    position: absolute;
    z-index: 200;
}
.right_p{
    display: none;
    top: 3px;
    left: 136px;
}
.left_p{
    display: none;
    top: 3px;
    left: 22px;
}
.bottom_p{
    display: none;
    top: 40px;
    left: 12px;
}
.top_p{
    display: none;
    top: -34px;
    left: -28px;
}
.hover_top:hover +.tips{
    display: block;
}
.hover_bottom:hover +.tips_p{
    display: block;
}

.tips p{
    text-align: left;
    background: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    padding: 8px 14px;
    line-height: 18px;
    font-size: 14px;
    border-radius: 6px 6px 0px 0px;
}
.tips_p p{
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}
.tips_con{
    padding: 9px 14px;
    background: #fff;
    border-radius: 0px 0px 6px 6px;
}
/* 箭头 */
.tips_arrow{
    display: block;
    position: absolute;
    border: 11px solid transparent;   
}
.tipsb_arrow{
    position: absolute;
    display: inline-block;
    border: 6px solid transparent;
}
.right_p .tipsb_arrow{
    border-right-color: #000;
    left: -10px;
    top: 7px;
}
.left_p .tipsb_arrow{
    border-left-color: #000;
    right: -11px;
    top: 7px;
}
.top_p .tipsb_arrow{
    border-top-color: #000;
    bottom: -11px;
    left: 41px;
}
.bottom_p .tipsb_arrow{
    border-bottom-color: #000;
    top: -11px;
    left: 45px;
}
.right .tips_arrow{
    left: -22px;
    bottom: 36%;
    border-right-color: rgba(0,0,0,.25);
}
.bottom .tips_arrow{
    left: 118px;
    top: -22px;
    border-bottom-color: rgba(0,0,0,.25);
}
.top .tips_arrow{
    left: 36px;
    bottom: -22px;
    border-top-color: rgba(0,0,0,.25);
}
.left .tips_arrow{
    right: -22px;
    bottom: 32px;
    border-left-color: rgba(0,0,0,.25);
}

.tips_arrow:after{
    content: '';
    display: block;
    position: absolute;  
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;   
}
.right .tips_arrow:after{
    top: -10px;
    left: -8px;
    border-right-color: #fff;
}
.bottom .tips_arrow:after{
    top: -9px;
    left: -10px;
    border-bottom-color: #fff;
}
.top .tips_arrow:after{
    top: -12px;
    left: -10px;
    border-top-color: #fff;
}
.left .tips_arrow:after{
    top: -10px;
    left: -12px;
    border-left-color: #fff;
}

.striped li{
    height: 12px;
    margin-bottom: 20px;
    background: #f0f2f7;
}
.striped li span{
    display: inline-block;
    height: 100%;
    border-radius: 4px 0px 0px 4px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
    animation: progress_move 2s linear infinite;
}
.striped .progress1{
    width: 40%;
}
.striped .progress2{
    width: 20%;
}
.striped .progress3{
    width: 60%;
}
.striped .progress5{
    width: 80%;
}
@keyframes progress_move{
    0%{
        background-position: 40px 0px;
    }100%{
        background-position: 0px 0px;
    }
}

/* 标签 */
.label p{
    text-align: center;
    margin-bottom: 10px;
    color: #a1a1a1;
}
.label span{
    display: inline-block;
    padding: 0.5em 0.8em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    font-size: 75%;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label_bg1{
    background: #a1a1a1;
}
.label_bg2{
    background: #59ace2;
}
.label_bg3{
    background: #A9D86E;
}
.label_bg4{
    background: #8175c7;
}
.label_bg5{
    background: #344860;
}
.label_bg6{
    background: #FCB322;
}
.label_bg7{
    background: #FF6C60;
}
.code{
    padding: 9.5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background: #f5f5f5;
    border-radius: 5px;
}
.code span{
    color: #000;
    padding: 0px;
    font-weight: normal;
}
.code .lt{
    color: #2F6F9F;
}
.code .gt{
    color: #4F9FCF;
}
.code .cl{
    color: #D44950;
}
code{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    white-space: nowrap;
    border-radius: 4px;
}
.label .last_label{
    margin-bottom: 0px;
}
.last_label span{
    border-radius: 10px;
    padding: 3px 7px;
}


.next_div{
    border: 1px solid transparent;   
}
.next_div p{
    text-align: center;
    display: block;
    margin: 20px 0px;
}
.next_div span{
    display: inline-block; 
    border: 1px solid #ddd;
    margin-left: -5px;
    color: #428bca;
    cursor: pointer;
}
.next1 span{
    padding: 10px 16px;
    font-size: 18px;
}
.next2 span{
    padding: 6px 12px; 
}
.next3 span{
    padding: 5px 10px;
    font-size: 12px;
}
.next_div span:hover{
    background: #eee;
    color: #2a6496;
}
.next1 span:first-child{
    border-radius: 6px 0px 0px 6px;
}
.next1 span:last-child{
    border-radius: 0px 6px 6px 0px;
}
.next2 span:first-child{
    border-radius: 4px 0px 0px 4px;
}
.next2 span:last-child{
    border-radius: 0px 4px 4px 0px;
}
.next3 span:first-child{
    border-radius: 3px 0px 0px 3px;
}
.next3 span:last-child{
    border-radius: 0px 3px 3px 0px;
}

/* 轮播图 */
.round_box{
    overflow: hidden;
    /* background: red; */
}
.map{
    width: 300%;
    /* margin-left: -100%; */
    margin-bottom: 5px;
    display: flex;
    /* transition: .8s; */
}
.map li{
    width: 100%;
}
.map h3{
    margin: 20px 0px 25px 0px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
.map p{
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    color: #a1a1a1;
}
.circle{
    display: flex;
    justify-content: center
}
.circle li{
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,.2);
    border-radius: 50%;
    margin: 0px 2px;
    cursor: pointer;
}
.circle .map_on{
    background: #72d0eb;
}
.round_box{
    position: relative;
}
.round_arrow{
    width: 45px;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0px;
}
.round_arrow i{
    color: #999;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 25px;
    text-align: center;
    margin-left: -10px;
    margin-top: -10px;
}
.round_a_left{ 
    left: 0px;
}
.round_a_right{
    right: 0px;
}

/* 模态对话框 */
.chat_font{
    font-size: 16px;
    font-weight: 300;
}

.chat_btn button{
    padding: 6px 12px;
    /* margin-bottom: 5px; */
    outline: 0px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.chat_btn1{
    background-color: #78CD51;
    border-color: #78CD51;
}
.chat_btn2{
    background-color: #f1c500;
    border-color: #f1c500;
}
.chat_btn3{
    background-color: #ff6c60;
    border-color: #ff6c60;
}
.chat_btn1:hover{
    background-color: #6dbb4a;
    border-color: #6dbb4a;
}
.chat_btn2:hover{
    background-color: #e4ba00;
    border-color: #e4ba00;
}
.chat_btn3:hover{
    background-color: #ec6459;
    border-color: #ec6459;
}

/* Gritter通知 */
.gritter button{
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    font-weight: 400;
    cursor: pointer;
    outline: 0;
    border: 1px solid transparent;
}
.gritter p{
    margin-bottom: 10px;
    color: #a1a1a1;
}
.gritter .regular{
    color: #ACA9A9;
    background-color: #FFF;
    border-color: #CECECE;
}
.gritter .regular:hover{
    background-color: #ececec;
}
.gritter .sticky{
    background-color: #78CD51;
    border-color: #78CD51;
    color: #FFFFFF;
}
.gritter .sticky:hover{
    background-color: #6dbb4a;
    border-color: #6dbb4a;
}
.gritter .imageless{
    background-color: #58c9f3;
    border-color: #58c9f3;
    color: #FFFFFF;
}
.gritter .imageless:hover{
    background-color: #53bee6;
    border-color: #53BEE6;
}
.gritter .light{
    background-color: #f1c500;
    border-color: #f1c500;
    color: #FFFFFF;
}
.gritter .light:hover{
    background-color: #e4ba00;
    border-color: #e4ba00;
}
.gritter .maxof{
    background-color: #41cac0;
    border-color: #41cac0;
    color: #FFFFFF;
}
.gritter .maxof:hover{
    background-color: #39b2a9;
    border-color: #39b2a9;
}
.gritter .removeall{
    background-color: #ff6c60;
    border-color: #ff6c60;
    color: #FFFFFF;
}
.gritter .removeall:hover{
    background-color: #ec6459;
    border-color: #ec6459;
}

/* Tab */
.tab_head{
    padding: 15px;
    background: #4ca7c1;
    justify-content: flex-start;
}
.tab_head span{
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    position: relative;
    cursor: pointer;
    margin: -3px -7px -16px;
    margin-right: 10px;
}
.tab_head .tab_on{
    background: #fff;
    color: #47596f;
}
.tab_head span:hover{
    background: #fff;
    color: #47596f;
}

.tab1_list,.tab2_list{
    display: none;
}
.tab_show{
    display: block;
}
.tab_head i{
    color: #fff;
    display: inline-block;
    margin-right: 4px;
    margin-top: 3px;
}
.tab_on i{
    color: #47596f;
}
.tab_head span:hover{
    color: #47596f;
}
.tab_head span:hover i{
    color: #47596f;
}